<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- Login Page -->

<ion-app  *ngIf="!email && !cekRegister">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Janji Jiwa Maill</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="app-login">
    <div class="login-page ion-padding">
    <div class="login-title ion-padding">
      <h1>Welcome To Janji Jiwa Maill</h1>
      <p>Login</p>
    </div>
    <div class="form-login ion-padding">
      <div class="form-input">
        
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="login_email"></ion-input>
        </ion-item>
      </div>
      <ion-card></ion-card>
      <div class="form-input">
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='login_password'></ion-input>
        </ion-item>
      </div>
      <div class="button ion-padding">
        <ion-button class="btnlogin" type="submit" expand="block" (click)='login()'>Login</ion-button>
        <p>Belum Punya Akun ?</p>
        <ion-button expand="block" (click)='cekRegister="Register"'>Register</ion-button>
        <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
      </div>
    </div>
  </div>

  </ion-content>
</ion-app>

<!-- Registasi Users-->
<ion-app *ngIf="cekRegister">
  <ion-header translucent>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start" style="z-index: 100;">
          <ion-back-button defaultHref="" (click)='cekRegister=""'></ion-back-button>
        </ion-buttons>
        <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;" >Janji Jiwa Mail</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>
  <ion-content class="app-login">
    <div class="login-page ion-padding">
    <div class="login-title">
      <h1>Register</h1>
    </div>
    <div class="form-login ion-padding">
      <div class="form-input">
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input placeholder="Nama" [(ngModel)]="name_regis"></ion-input>
        </ion-item>
      </div>
      <ion-card></ion-card>
      
      <div class="form-input">
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-input name="birthday" type="date" placeholder="birthday" [(ngModel)]="birthday_regis"></ion-input>
        </ion-item>
      </div>
      <ion-card></ion-card>
      <div class="form-input">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email_regis"></ion-input>
        </ion-item>
      </div>
      <ion-card></ion-card>
      <div class="form-input">
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='password_regis'></ion-input>
        </ion-item>
      </div>
      <ion-card></ion-card>
      <div class="form-input">
        <ion-item>
          <ion-icon name="location-outline"></ion-icon>
          <ion-input placeholder="Address" [(ngModel)]="addres_regis"></ion-input>
        </ion-item>
      </div>
      <div class="button ion-padding">
        <ion-button class="btnlogin" type="submit" expand="block" (click)='register()'>Register</ion-button>
        <ion-chip color='red' *ngIf="login_error">{{login_error}}</ion-chip>
      </div>
    </div>
  </div>

  </ion-content>
</ion-app>

<!-- Main Menu -->

<ion-app *ngIf="email">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
      <ion-title>Janji Jiwa Mail</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <router-outlet id="content">
    </router-outlet>
  </ion-content>

  <ion-menu content-id="content">
    <ion-header >
      <ion-toolbar color="dark">
        <ion-title>Welcome , {{name_login}} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle color="medium" >
        <ion-item color="medium">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label routerLink='/newemail'>New Email</ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-icon name="send-outline" slot="start"></ion-icon>
          <ion-label routerLink='/sent'>Sent</ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label routerLink='/inboxstarred'>Starred</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    <ion-item color="dark">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label (click)='logout()'>Logout</ion-label>
    </ion-item>
  </ion-menu>
</ion-app>
